@if(result) {
    <div class="cards-container">
        <div class="card">
            <div class="card-definition">
                <p>definition</p>
            </div>
            <button type="button" (click)="showRes()">showRes</button>
            <div class="card-examples">
                <div class="card-example"><p>example</p></div>
                <div class="card-example"><p>exmaple</p></div>
            </div>
            <div class="card-synonyms">
                <div class="card-synonym"><p>synonym</p></div>
                <div class="card-synonym"><p>synonym</p></div>s
            </div>
        </div>
        
        </div>
        
} @else {
    <p>No Result</p>
}


    