.search-history-container {
    display: flex;
    padding: 20px;
// border: solid 1px red;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid, 1px, red;
    width: 200px;
    margin-left: 40%;
}

.search-history-content {
    display: block;   
}

.search-history-content li {
    cursor: pointer;   
}

