.body-search-result-summary {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    display: inline-block;
    border-bottom: 1px solid gray;
    background-color: lightblue;
    width: 100%;
}

