.container-wrapper {
    background-image: linear-gradient( to right, #0969DA, #54AEFF); 
    border-radius: 25px;
    overflow: hidden;
    
}

.appcontainer {
    background-color: #e1d9d9;
    min-height: 100vh;
    width: 95%;
    text-align: center;
    margin: 2.5% auto;
    display: block;
    border-radius: 25px;
    position: relative;
    overflow: hidden;

}